<!DOCTYPE html>
<html>
  <head>
    <title>Learning Rails</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
  </head>

<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
</div>

<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

<h2>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</h2>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>


<br /><br />
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'My Blog', controller: 'articles' %><br>
<%= link_to 'Mailer', controller: 'users' %>
</div>

<%= render 'layouts/footer' %>

</body>

</html>
